<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Baltimore Nearby Shops</title>

        {% comment %} Leaflet CSS {% endcomment %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />

        {% comment %} Leaflet JS {% endcomment %}
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

        {% comment %} Setting map height {% endcomment %}
         <style>
                #mapid {height:500px; }
         </style>
</head>

<body>
        <h1>Baltimore Nearby Shops</h1>
        {%  if shops %}
        <ul>
                {% for shop in shops %}
                <li>
                        {{ shop.name }}: {{shop.distance}}
                </li>
                {%  endfor %}
        </ul>
        {%  endif %}
        {% comment %} map div {% endcomment %}
        <div id="mapid"></div>

        {% comment %} map js {% endcomment %}
        <script>
        var map = L.map('mapid').setView([39.290440, -76.612330], 17);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([39.290440, -76.612330]).addTo(map)
        .bindPopup('Je suis à Baltimore.<br> à la recherche de boutiques proches.')
        .openPopup();

        // for each shop do...
        {% for shop in shops %}
        var circle = L.circle([ {{ shop.location.y }}, {{ shop.location.x }}], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 5
         }).addTo(map);
           {%  endfor %}
        </script>
</body>
</html>